<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b96ead727c370ea51a7ee97a413373e7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b96ead727c370ea51a7ee97a413373e7" ></div>
        
</body>
<script>
    
    
            var map_b96ead727c370ea51a7ee97a413373e7 = L.map(
                "map_b96ead727c370ea51a7ee97a413373e7",
                {
                    center: [13.133521, 77.567135],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3148b553a0fec853b20a208e2f652e22 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3148b553a0fec853b20a208e2f652e22.addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
            var circle_marker_e4a9b7460f46b262aa8f0ef3f9b4599f = L.circleMarker(
                [13.000170430342969, 77.6245454591405],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_071c8ef85858d558b9cff84e3a6f218a = L.popup({"maxWidth": "100%"});

        
            
                var html_e2eb9e809a5a936ca97b2a214340fc8a = $(`<div id="html_e2eb9e809a5a936ca97b2a214340fc8a" style="width: 100.0%; height: 100.0%;">Apartment Banaswadi main road cross hight street RD.</div>`)[0];
                popup_071c8ef85858d558b9cff84e3a6f218a.setContent(html_e2eb9e809a5a936ca97b2a214340fc8a);
            
        

        circle_marker_e4a9b7460f46b262aa8f0ef3f9b4599f.bindPopup(popup_071c8ef85858d558b9cff84e3a6f218a)
        ;

        
    
    
            var circle_marker_a93755d2441e2575ce3b306113ab0414 = L.circleMarker(
                [13.114882023314767, 77.56309032440184],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_f9254e8f02be89824ad1de1cf2abd7c5 = L.popup({"maxWidth": "100%"});

        
            
                var html_444508353c285c9da52003d97c68b52a = $(`<div id="html_444508353c285c9da52003d97c68b52a" style="width: 100.0%; height: 100.0%;">GK Lakeview Apartment</div>`)[0];
                popup_f9254e8f02be89824ad1de1cf2abd7c5.setContent(html_444508353c285c9da52003d97c68b52a);
            
        

        circle_marker_a93755d2441e2575ce3b306113ab0414.bindPopup(popup_f9254e8f02be89824ad1de1cf2abd7c5)
        ;

        
    
    
            var circle_marker_329cb4a58a7656dc7235d1b3f9f5a8ab = L.circleMarker(
                [13.039491797892286, 77.55558987238176],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_76a57be9a368acad2e2874e2587e261c = L.popup({"maxWidth": "100%"});

        
            
                var html_badd2302b3ec0e3f06e3bf1cac5f10db = $(`<div id="html_badd2302b3ec0e3f06e3bf1cac5f10db" style="width: 100.0%; height: 100.0%;">Dwellington Apartment</div>`)[0];
                popup_76a57be9a368acad2e2874e2587e261c.setContent(html_badd2302b3ec0e3f06e3bf1cac5f10db);
            
        

        circle_marker_329cb4a58a7656dc7235d1b3f9f5a8ab.bindPopup(popup_76a57be9a368acad2e2874e2587e261c)
        ;

        
    
    
            var circle_marker_ebd3ff1e04f77dee1a3ab0961cda4b64 = L.circleMarker(
                [13.13456280998398, 77.57264643045936],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_a73705da6a882af40482caf894823ccc = L.popup({"maxWidth": "100%"});

        
            
                var html_7e918601df0362bddc4442e5d2c9fa44 = $(`<div id="html_7e918601df0362bddc4442e5d2c9fa44" style="width: 100.0%; height: 100.0%;">Shriram Suhaana Apartments</div>`)[0];
                popup_a73705da6a882af40482caf894823ccc.setContent(html_7e918601df0362bddc4442e5d2c9fa44);
            
        

        circle_marker_ebd3ff1e04f77dee1a3ab0961cda4b64.bindPopup(popup_a73705da6a882af40482caf894823ccc)
        ;

        
    
    
            var circle_marker_b5ca5909b20a0612281420b34a6e09c2 = L.circleMarker(
                [12.979005, 77.64562],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_17730de309b4f84d02ce216857f29064 = L.popup({"maxWidth": "100%"});

        
            
                var html_9f0dd7532b1c0e493ebeb721b352443d = $(`<div id="html_9f0dd7532b1c0e493ebeb721b352443d" style="width: 100.0%; height: 100.0%;">1/747, Rented Apartment</div>`)[0];
                popup_17730de309b4f84d02ce216857f29064.setContent(html_9f0dd7532b1c0e493ebeb721b352443d);
            
        

        circle_marker_b5ca5909b20a0612281420b34a6e09c2.bindPopup(popup_17730de309b4f84d02ce216857f29064)
        ;

        
    
    
            var circle_marker_3230b56c5328cfc3912f4c52850b86e6 = L.circleMarker(
                [13.06925, 77.595719],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_0b0ff8fe8e068f91b2f4ac0ca2ec69e1 = L.popup({"maxWidth": "100%"});

        
            
                var html_f5e55c94293899d3923d3cabd3d14196 = $(`<div id="html_f5e55c94293899d3923d3cabd3d14196" style="width: 100.0%; height: 100.0%;">Shivaprakruthi Apartment</div>`)[0];
                popup_0b0ff8fe8e068f91b2f4ac0ca2ec69e1.setContent(html_f5e55c94293899d3923d3cabd3d14196);
            
        

        circle_marker_3230b56c5328cfc3912f4c52850b86e6.bindPopup(popup_0b0ff8fe8e068f91b2f4ac0ca2ec69e1)
        ;

        
    
    
            var circle_marker_1f5f338f94e087f1b44be8d74dce1ac3 = L.circleMarker(
                [13.06480088033049, 77.5720979360512],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_54d289420693620510e1ff077c67ed87 = L.popup({"maxWidth": "100%"});

        
            
                var html_6595fea7ba88bd15fa0cc2e00bbc6197 = $(`<div id="html_6595fea7ba88bd15fa0cc2e00bbc6197" style="width: 100.0%; height: 100.0%;">Shree Prakriti Apartment</div>`)[0];
                popup_54d289420693620510e1ff077c67ed87.setContent(html_6595fea7ba88bd15fa0cc2e00bbc6197);
            
        

        circle_marker_1f5f338f94e087f1b44be8d74dce1ac3.bindPopup(popup_54d289420693620510e1ff077c67ed87)
        ;

        
    
    
            var circle_marker_f985d15358116a20d89af26ebdd4ac16 = L.circleMarker(
                [13.061164306991614, 77.56953452899677],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_0e1170cf73fac0f3bdcdd850261d8a53 = L.popup({"maxWidth": "100%"});

        
            
                var html_32d8f612e97ec51b36f697434abc4ce1 = $(`<div id="html_32d8f612e97ec51b36f697434abc4ce1" style="width: 100.0%; height: 100.0%;">krishna Greens apartment</div>`)[0];
                popup_0e1170cf73fac0f3bdcdd850261d8a53.setContent(html_32d8f612e97ec51b36f697434abc4ce1);
            
        

        circle_marker_f985d15358116a20d89af26ebdd4ac16.bindPopup(popup_0e1170cf73fac0f3bdcdd850261d8a53)
        ;

        
    
    
            var circle_marker_644291081d1e58524b516bdb099c3214 = L.circleMarker(
                [13.06330037472305, 77.58067488670349],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_66a8bbadfd4a9018f588b27ca62ebcc3 = L.popup({"maxWidth": "100%"});

        
            
                var html_ab0e61ee291a46abd2de0c040b94e78a = $(`<div id="html_ab0e61ee291a46abd2de0c040b94e78a" style="width: 100.0%; height: 100.0%;">Sri Sai Apartment</div>`)[0];
                popup_66a8bbadfd4a9018f588b27ca62ebcc3.setContent(html_ab0e61ee291a46abd2de0c040b94e78a);
            
        

        circle_marker_644291081d1e58524b516bdb099c3214.bindPopup(popup_66a8bbadfd4a9018f588b27ca62ebcc3)
        ;

        
    
    
            var circle_marker_309f561e26c507ea5592248a8d49d642 = L.circleMarker(
                [13.062396, 77.587263],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_8e3be42528fc2abe8402ab3753e24677 = L.popup({"maxWidth": "100%"});

        
            
                var html_b825b2ec2782e84ec618dc45d9021653 = $(`<div id="html_b825b2ec2782e84ec618dc45d9021653" style="width: 100.0%; height: 100.0%;">Stay Afford Serviced Apartment</div>`)[0];
                popup_8e3be42528fc2abe8402ab3753e24677.setContent(html_b825b2ec2782e84ec618dc45d9021653);
            
        

        circle_marker_309f561e26c507ea5592248a8d49d642.bindPopup(popup_8e3be42528fc2abe8402ab3753e24677)
        ;

        
    
    
            var circle_marker_4ee9852a757b56156ffe3dc074cb8237 = L.circleMarker(
                [13.059434, 77.60579],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_3ed6a1a33432bfc9afd34e06b36a29eb = L.popup({"maxWidth": "100%"});

        
            
                var html_63a9f7aae426f497181a4b6da941f9c0 = $(`<div id="html_63a9f7aae426f497181a4b6da941f9c0" style="width: 100.0%; height: 100.0%;">Manima Apartment</div>`)[0];
                popup_3ed6a1a33432bfc9afd34e06b36a29eb.setContent(html_63a9f7aae426f497181a4b6da941f9c0);
            
        

        circle_marker_4ee9852a757b56156ffe3dc074cb8237.bindPopup(popup_3ed6a1a33432bfc9afd34e06b36a29eb)
        ;

        
    
    
            var circle_marker_bafb83a4129bdf52e28fdbcae03cb32d = L.circleMarker(
                [13.039570229610394, 77.55555230539213],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_3afb626c2eb46f4af8866ec9ef34cd66 = L.popup({"maxWidth": "100%"});

        
            
                var html_9488ae68d0342729ebc5a830aebb4785 = $(`<div id="html_9488ae68d0342729ebc5a830aebb4785" style="width: 100.0%; height: 100.0%;">Dwellington Apartment Swimming Pool</div>`)[0];
                popup_3afb626c2eb46f4af8866ec9ef34cd66.setContent(html_9488ae68d0342729ebc5a830aebb4785);
            
        

        circle_marker_bafb83a4129bdf52e28fdbcae03cb32d.bindPopup(popup_3afb626c2eb46f4af8866ec9ef34cd66)
        ;

        
    
    
            var circle_marker_9dd46c44bfa2d066bb47a89e6c33ef1d = L.circleMarker(
                [13.039522, 77.555643],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_1db81f0ad4ecce9e800f2e67c27aa6b6 = L.popup({"maxWidth": "100%"});

        
            
                var html_f48ad4913c925cc837fcea4da1447e1c = $(`<div id="html_f48ad4913c925cc837fcea4da1447e1c" style="width: 100.0%; height: 100.0%;">Dwellington Apartment Rooftop</div>`)[0];
                popup_1db81f0ad4ecce9e800f2e67c27aa6b6.setContent(html_f48ad4913c925cc837fcea4da1447e1c);
            
        

        circle_marker_9dd46c44bfa2d066bb47a89e6c33ef1d.bindPopup(popup_1db81f0ad4ecce9e800f2e67c27aa6b6)
        ;

        
    
    
            var circle_marker_f5e77bf8bdb4d309b82c61e391a49b85 = L.circleMarker(
                [13.06551306204412, 77.65039372266028],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_924818ec8f6ebb29d700ae44b02b51dc = L.popup({"maxWidth": "100%"});

        
            
                var html_52f2ce5f2fda256c0e0790912d67e60f = $(`<div id="html_52f2ce5f2fda256c0e0790912d67e60f" style="width: 100.0%; height: 100.0%;">ARGE Helios Apartment</div>`)[0];
                popup_924818ec8f6ebb29d700ae44b02b51dc.setContent(html_52f2ce5f2fda256c0e0790912d67e60f);
            
        

        circle_marker_f5e77bf8bdb4d309b82c61e391a49b85.bindPopup(popup_924818ec8f6ebb29d700ae44b02b51dc)
        ;

        
    
    
            var circle_marker_140c84791584880de1bf8edc2398db99 = L.circleMarker(
                [13.036045, 77.581354],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_528d98786cd536a1919c3f0efe271166 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb6eb10f9ea2fa1609297588ec43e95d = $(`<div id="html_eb6eb10f9ea2fa1609297588ec43e95d" style="width: 100.0%; height: 100.0%;">Green Apartment</div>`)[0];
                popup_528d98786cd536a1919c3f0efe271166.setContent(html_eb6eb10f9ea2fa1609297588ec43e95d);
            
        

        circle_marker_140c84791584880de1bf8edc2398db99.bindPopup(popup_528d98786cd536a1919c3f0efe271166)
        ;

        
    
    
            var circle_marker_b670bb553daee619b47b2e59f0d794ff = L.circleMarker(
                [13.04005, 77.554501],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_d3cb7788f4a831cbc1e97ab2d867cb12 = L.popup({"maxWidth": "100%"});

        
            
                var html_c22980da0b0cd5c041b6e1bdac9d8422 = $(`<div id="html_c22980da0b0cd5c041b6e1bdac9d8422" style="width: 100.0%; height: 100.0%;">H Block,Sadhana Apartment</div>`)[0];
                popup_d3cb7788f4a831cbc1e97ab2d867cb12.setContent(html_c22980da0b0cd5c041b6e1bdac9d8422);
            
        

        circle_marker_b670bb553daee619b47b2e59f0d794ff.bindPopup(popup_d3cb7788f4a831cbc1e97ab2d867cb12)
        ;

        
    
    
            var circle_marker_38b75a5779132e107b6f615c955232db = L.circleMarker(
                [13.040211, 77.554801],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_911edbfa8c6a378f7a5c93f93b34856b = L.popup({"maxWidth": "100%"});

        
            
                var html_23b7efebd8dcea7387cd60defdb5ae11 = $(`<div id="html_23b7efebd8dcea7387cd60defdb5ae11" style="width: 100.0%; height: 100.0%;">J Block, Shriram Sadhana Apartment</div>`)[0];
                popup_911edbfa8c6a378f7a5c93f93b34856b.setContent(html_23b7efebd8dcea7387cd60defdb5ae11);
            
        

        circle_marker_38b75a5779132e107b6f615c955232db.bindPopup(popup_911edbfa8c6a378f7a5c93f93b34856b)
        ;

        
    
    
            var circle_marker_ca1f292d4d6d15e43890ca5414eaf63a = L.circleMarker(
                [13.030246, 77.64331],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_a2ab797a0f25a9c67cd97d6683b32b26 = L.popup({"maxWidth": "100%"});

        
            
                var html_effe00713039f0024975f1bfa6f3316b = $(`<div id="html_effe00713039f0024975f1bfa6f3316b" style="width: 100.0%; height: 100.0%;">Sahasra Grand Apartment</div>`)[0];
                popup_a2ab797a0f25a9c67cd97d6683b32b26.setContent(html_effe00713039f0024975f1bfa6f3316b);
            
        

        circle_marker_ca1f292d4d6d15e43890ca5414eaf63a.bindPopup(popup_a2ab797a0f25a9c67cd97d6683b32b26)
        ;

        
    
    
            var circle_marker_895cb63c0c88c4942399e784ba46b491 = L.circleMarker(
                [13.029926070972964, 77.59263667696135],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_820eea900c3a2cd21e424dac33c30b56 = L.popup({"maxWidth": "100%"});

        
            
                var html_969a8c19d8f221117e4063b264e3d61c = $(`<div id="html_969a8c19d8f221117e4063b264e3d61c" style="width: 100.0%; height: 100.0%;">The Kaiser Serviced Apartment Hotel</div>`)[0];
                popup_820eea900c3a2cd21e424dac33c30b56.setContent(html_969a8c19d8f221117e4063b264e3d61c);
            
        

        circle_marker_895cb63c0c88c4942399e784ba46b491.bindPopup(popup_820eea900c3a2cd21e424dac33c30b56)
        ;

        
    
    
            var circle_marker_5c44ca571128188935ae12ab5f53c7a5 = L.circleMarker(
                [13.046933061340559, 77.63541464862233],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_c27e64b3df6b924de7881a437c9be4c0 = L.popup({"maxWidth": "100%"});

        
            
                var html_83b1b9007850b9de4bbf1aa11020cf86 = $(`<div id="html_83b1b9007850b9de4bbf1aa11020cf86" style="width: 100.0%; height: 100.0%;">vm meridian apartment</div>`)[0];
                popup_c27e64b3df6b924de7881a437c9be4c0.setContent(html_83b1b9007850b9de4bbf1aa11020cf86);
            
        

        circle_marker_5c44ca571128188935ae12ab5f53c7a5.bindPopup(popup_c27e64b3df6b924de7881a437c9be4c0)
        ;

        
    
    
            var circle_marker_43ccdbad368a1c935b7ef26084cd4824 = L.circleMarker(
                [13.034047492665726, 77.59603852025482],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_28aec3bc25828c2abfd584fa13984fe2 = L.popup({"maxWidth": "100%"});

        
            
                var html_e2dd0d74e1b1c69b04bdad292adfd4b8 = $(`<div id="html_e2dd0d74e1b1c69b04bdad292adfd4b8" style="width: 100.0%; height: 100.0%;">Creative Classic Apartment</div>`)[0];
                popup_28aec3bc25828c2abfd584fa13984fe2.setContent(html_e2dd0d74e1b1c69b04bdad292adfd4b8);
            
        

        circle_marker_43ccdbad368a1c935b7ef26084cd4824.bindPopup(popup_28aec3bc25828c2abfd584fa13984fe2)
        ;

        
    
    
            var circle_marker_0486da8f80773b174d4614eeba7f806b = L.circleMarker(
                [13.028436685591299, 77.65197068452835],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_3c0b5bc422733de5041b3667f0a7a098 = L.popup({"maxWidth": "100%"});

        
            
                var html_45451d472936b2ee7d6411b37e99071b = $(`<div id="html_45451d472936b2ee7d6411b37e99071b" style="width: 100.0%; height: 100.0%;">Ambica Nivas Apartments</div>`)[0];
                popup_3c0b5bc422733de5041b3667f0a7a098.setContent(html_45451d472936b2ee7d6411b37e99071b);
            
        

        circle_marker_0486da8f80773b174d4614eeba7f806b.bindPopup(popup_3c0b5bc422733de5041b3667f0a7a098)
        ;

        
    
    
            var circle_marker_f9fef4a329361ad6812d0ee6997a256e = L.circleMarker(
                [13.022323, 77.603381],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_8f5bc6c8acf21d6433d89c576f62afec = L.popup({"maxWidth": "100%"});

        
            
                var html_b94b8413dab0804c88026920d8f24ac3 = $(`<div id="html_b94b8413dab0804c88026920d8f24ac3" style="width: 100.0%; height: 100.0%;">Southern Residency Apartment</div>`)[0];
                popup_8f5bc6c8acf21d6433d89c576f62afec.setContent(html_b94b8413dab0804c88026920d8f24ac3);
            
        

        circle_marker_f9fef4a329361ad6812d0ee6997a256e.bindPopup(popup_8f5bc6c8acf21d6433d89c576f62afec)
        ;

        
    
    
            var circle_marker_82350b112c9ec84c7ebf4d4ba30a1da8 = L.circleMarker(
                [13.028172, 77.64132],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_f0bbc6fc33b09123ff92d5d909f25fdb = L.popup({"maxWidth": "100%"});

        
            
                var html_ab8a51af3d1c31ed84ca722c8af9fec9 = $(`<div id="html_ab8a51af3d1c31ed84ca722c8af9fec9" style="width: 100.0%; height: 100.0%;">Avyak Fortune Apartment Chellikere</div>`)[0];
                popup_f0bbc6fc33b09123ff92d5d909f25fdb.setContent(html_ab8a51af3d1c31ed84ca722c8af9fec9);
            
        

        circle_marker_82350b112c9ec84c7ebf4d4ba30a1da8.bindPopup(popup_f0bbc6fc33b09123ff92d5d909f25fdb)
        ;

        
    
    
            var circle_marker_ae815cf98b00995c63999e7c6cf77722 = L.circleMarker(
                [13.019332, 77.59707],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_dad99a317f62f729baa7d4743e89675a = L.popup({"maxWidth": "100%"});

        
            
                var html_4330f4d24b73362178caee8608959d7d = $(`<div id="html_4330f4d24b73362178caee8608959d7d" style="width: 100.0%; height: 100.0%;">Krishna Legacy Apartment</div>`)[0];
                popup_dad99a317f62f729baa7d4743e89675a.setContent(html_4330f4d24b73362178caee8608959d7d);
            
        

        circle_marker_ae815cf98b00995c63999e7c6cf77722.bindPopup(popup_dad99a317f62f729baa7d4743e89675a)
        ;

        
    
    
            var circle_marker_2c9af19945360d4b701d14202b836980 = L.circleMarker(
                [13.088500272124577, 77.58710221733564],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_28678d5bd51ecf589be79635e5b75eaa = L.popup({"maxWidth": "100%"});

        
            
                var html_2c96159d213ef851bea1d372b7fcf014 = $(`<div id="html_2c96159d213ef851bea1d372b7fcf014" style="width: 100.0%; height: 100.0%;">Janapriya Heavens Apartments</div>`)[0];
                popup_28678d5bd51ecf589be79635e5b75eaa.setContent(html_2c96159d213ef851bea1d372b7fcf014);
            
        

        circle_marker_2c9af19945360d4b701d14202b836980.bindPopup(popup_28678d5bd51ecf589be79635e5b75eaa)
        ;

        
    
    
            var circle_marker_8e42864c2e1df74f0a0defacb8c25fb6 = L.circleMarker(
                [13.014054717865344, 77.53829598426819],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_7e8723351cd89138e259a9cefab7d12d = L.popup({"maxWidth": "100%"});

        
            
                var html_83a32b87bf7382788fe613ba78c2fa89 = $(`<div id="html_83a32b87bf7382788fe613ba78c2fa89" style="width: 100.0%; height: 100.0%;">MCC Apartment</div>`)[0];
                popup_7e8723351cd89138e259a9cefab7d12d.setContent(html_83a32b87bf7382788fe613ba78c2fa89);
            
        

        circle_marker_8e42864c2e1df74f0a0defacb8c25fb6.bindPopup(popup_7e8723351cd89138e259a9cefab7d12d)
        ;

        
    
    
            var circle_marker_643b23cb7dc9bc779d3e8addecb63575 = L.circleMarker(
                [13.010092, 77.577198],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_632979a633e7c1391bd18647aacfad22 = L.popup({"maxWidth": "100%"});

        
            
                var html_53d8741a08c1f82f729875c130491252 = $(`<div id="html_53d8741a08c1f82f729875c130491252" style="width: 100.0%; height: 100.0%;">Lavina Courts Apartment</div>`)[0];
                popup_632979a633e7c1391bd18647aacfad22.setContent(html_53d8741a08c1f82f729875c130491252);
            
        

        circle_marker_643b23cb7dc9bc779d3e8addecb63575.bindPopup(popup_632979a633e7c1391bd18647aacfad22)
        ;

        
    
    
            var circle_marker_ecdd7d8a96ec3ea5018c72ee068617c6 = L.circleMarker(
                [13.028825, 77.651995],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_d36dc7fbc69b15121c6ff84346802315 = L.popup({"maxWidth": "100%"});

        
            
                var html_19bf7fb5d0e0a8088369fea2d9746250 = $(`<div id="html_19bf7fb5d0e0a8088369fea2d9746250" style="width: 100.0%; height: 100.0%;">Ambica Nivas Apartment</div>`)[0];
                popup_d36dc7fbc69b15121c6ff84346802315.setContent(html_19bf7fb5d0e0a8088369fea2d9746250);
            
        

        circle_marker_ecdd7d8a96ec3ea5018c72ee068617c6.bindPopup(popup_d36dc7fbc69b15121c6ff84346802315)
        ;

        
    
    
            var circle_marker_e4efc09ee3c8df0f9feed8f81e333b9a = L.circleMarker(
                [13.027832, 77.633713],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_160039611813c64c478a4cb12cbf354e = L.popup({"maxWidth": "100%"});

        
            
                var html_faf22458e255e59ac5c5531a47f25597 = $(`<div id="html_faf22458e255e59ac5c5531a47f25597" style="width: 100.0%; height: 100.0%;">Royal Suites Apartment</div>`)[0];
                popup_160039611813c64c478a4cb12cbf354e.setContent(html_faf22458e255e59ac5c5531a47f25597);
            
        

        circle_marker_e4efc09ee3c8df0f9feed8f81e333b9a.bindPopup(popup_160039611813c64c478a4cb12cbf354e)
        ;

        
    
    
            var circle_marker_6891077e4b58988c5c062c52256c4c5b = L.circleMarker(
                [13.00848, 77.562412],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_b8363f8eb4f83d8d2082d9b199366b14 = L.popup({"maxWidth": "100%"});

        
            
                var html_0d2151536759cc67d5e1c584d80ca302 = $(`<div id="html_0d2151536759cc67d5e1c584d80ca302" style="width: 100.0%; height: 100.0%;">KT23 Apartment</div>`)[0];
                popup_b8363f8eb4f83d8d2082d9b199366b14.setContent(html_0d2151536759cc67d5e1c584d80ca302);
            
        

        circle_marker_6891077e4b58988c5c062c52256c4c5b.bindPopup(popup_b8363f8eb4f83d8d2082d9b199366b14)
        ;

        
    
    
            var circle_marker_6992889c23bf69f1ac68fc5c447017f9 = L.circleMarker(
                [13.066257, 77.57794],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_aeea33f6eb17feae68b2ffa5bf84feb2 = L.popup({"maxWidth": "100%"});

        
            
                var html_ba4b6670ac1415a7042a83418c4fec3b = $(`<div id="html_ba4b6670ac1415a7042a83418c4fec3b" style="width: 100.0%; height: 100.0%;">Arya Krishna Apartments</div>`)[0];
                popup_aeea33f6eb17feae68b2ffa5bf84feb2.setContent(html_ba4b6670ac1415a7042a83418c4fec3b);
            
        

        circle_marker_6992889c23bf69f1ac68fc5c447017f9.bindPopup(popup_aeea33f6eb17feae68b2ffa5bf84feb2)
        ;

        
    
    
            var circle_marker_b4d5a61fa5f45965337121928aca0735 = L.circleMarker(
                [13.007421, 77.577103],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_f5120bd2f8a21f3dfbaa289dbe61628b = L.popup({"maxWidth": "100%"});

        
            
                var html_49427caaf7f07ff5934de0f449d5b51a = $(`<div id="html_49427caaf7f07ff5934de0f449d5b51a" style="width: 100.0%; height: 100.0%;">Tatva Service Apartment</div>`)[0];
                popup_f5120bd2f8a21f3dfbaa289dbe61628b.setContent(html_49427caaf7f07ff5934de0f449d5b51a);
            
        

        circle_marker_b4d5a61fa5f45965337121928aca0735.bindPopup(popup_f5120bd2f8a21f3dfbaa289dbe61628b)
        ;

        
    
    
            var circle_marker_c6575dff9a57362e8b88e42063850035 = L.circleMarker(
                [13.007784, 77.554855],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_c479f3bbac7805a32a363656956cb18f = L.popup({"maxWidth": "100%"});

        
            
                var html_d581ec4810aa21544220be83ffb1c8c6 = $(`<div id="html_d581ec4810aa21544220be83ffb1c8c6" style="width: 100.0%; height: 100.0%;">The Chalet Corporate Apartment</div>`)[0];
                popup_c479f3bbac7805a32a363656956cb18f.setContent(html_d581ec4810aa21544220be83ffb1c8c6);
            
        

        circle_marker_c6575dff9a57362e8b88e42063850035.bindPopup(popup_c479f3bbac7805a32a363656956cb18f)
        ;

        
    
    
            var circle_marker_4a6513ff5dc43228a78396c3dfc7fb88 = L.circleMarker(
                [13.038358, 77.65272],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_277d6f896dbb90067089e64cd5b8f183 = L.popup({"maxWidth": "100%"});

        
            
                var html_b97565034087bf5b9a6a3fc56d570644 = $(`<div id="html_b97565034087bf5b9a6a3fc56d570644" style="width: 100.0%; height: 100.0%;">Jai Bharathi Mansion Apartment</div>`)[0];
                popup_277d6f896dbb90067089e64cd5b8f183.setContent(html_b97565034087bf5b9a6a3fc56d570644);
            
        

        circle_marker_4a6513ff5dc43228a78396c3dfc7fb88.bindPopup(popup_277d6f896dbb90067089e64cd5b8f183)
        ;

        
    
    
            var circle_marker_f5ad09201dc871a57f06b618c2a67826 = L.circleMarker(
                [13.03947021158443, 77.55673171336488],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_b62b4281871b47588811fe1c31c812a2 = L.popup({"maxWidth": "100%"});

        
            
                var html_9095ec49a84591ef3553015a9e945e9a = $(`<div id="html_9095ec49a84591ef3553015a9e945e9a" style="width: 100.0%; height: 100.0%;">Divya MSR Gateway Apartment</div>`)[0];
                popup_b62b4281871b47588811fe1c31c812a2.setContent(html_9095ec49a84591ef3553015a9e945e9a);
            
        

        circle_marker_f5ad09201dc871a57f06b618c2a67826.bindPopup(popup_b62b4281871b47588811fe1c31c812a2)
        ;

        
    
    
            var circle_marker_2d510e9f00af140bbf025bf799698335 = L.circleMarker(
                [13.00517729269146, 77.5631425495395],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_2a8359d787a5cc55cfdeea6455fb037c = L.popup({"maxWidth": "100%"});

        
            
                var html_68c72655a7b32480d56fd39107088794 = $(`<div id="html_68c72655a7b32480d56fd39107088794" style="width: 100.0%; height: 100.0%;">Surya Nest Apartment</div>`)[0];
                popup_2a8359d787a5cc55cfdeea6455fb037c.setContent(html_68c72655a7b32480d56fd39107088794);
            
        

        circle_marker_2d510e9f00af140bbf025bf799698335.bindPopup(popup_2a8359d787a5cc55cfdeea6455fb037c)
        ;

        
    
    
            var circle_marker_38c2393f47e4cc1d734e0b1156674ad4 = L.circleMarker(
                [13.000635, 77.61793],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_79aee39680e1eaa3817da4294284543d = L.popup({"maxWidth": "100%"});

        
            
                var html_ea9d32608956548d94f53f7b13fc3502 = $(`<div id="html_ea9d32608956548d94f53f7b13fc3502" style="width: 100.0%; height: 100.0%;">AM Suites and Services Apartment</div>`)[0];
                popup_79aee39680e1eaa3817da4294284543d.setContent(html_ea9d32608956548d94f53f7b13fc3502);
            
        

        circle_marker_38c2393f47e4cc1d734e0b1156674ad4.bindPopup(popup_79aee39680e1eaa3817da4294284543d)
        ;

        
    
    
            var circle_marker_d42ee73b397f9979e4c5a985c627fd70 = L.circleMarker(
                [13.022482, 77.640974],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_778df974ef238d185cff40d00862452e = L.popup({"maxWidth": "100%"});

        
            
                var html_ea81c24b754f763a75cf23821458c96a = $(`<div id="html_ea81c24b754f763a75cf23821458c96a" style="width: 100.0%; height: 100.0%;">Roseline Apartment</div>`)[0];
                popup_778df974ef238d185cff40d00862452e.setContent(html_ea81c24b754f763a75cf23821458c96a);
            
        

        circle_marker_d42ee73b397f9979e4c5a985c627fd70.bindPopup(popup_778df974ef238d185cff40d00862452e)
        ;

        
    
    
            var circle_marker_ab10657ccc99375e0c21c1988387d0da = L.circleMarker(
                [13.028165, 77.6495],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_b647a1be0ec09265d0771d7e56294512 = L.popup({"maxWidth": "100%"});

        
            
                var html_e0869178bca8337daa88cbe8318f5a61 = $(`<div id="html_e0869178bca8337daa88cbe8318f5a61" style="width: 100.0%; height: 100.0%;">DS Max Keerthi Apartment</div>`)[0];
                popup_b647a1be0ec09265d0771d7e56294512.setContent(html_e0869178bca8337daa88cbe8318f5a61);
            
        

        circle_marker_ab10657ccc99375e0c21c1988387d0da.bindPopup(popup_b647a1be0ec09265d0771d7e56294512)
        ;

        
    
    
            var circle_marker_3a636ec36339a6040b3134ebb5ac4917 = L.circleMarker(
                [13.018242, 77.631315],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_00df29cebb93f877c57231c356cc1dc4 = L.popup({"maxWidth": "100%"});

        
            
                var html_23b6dc8dba269c5417a7947e0b874c26 = $(`<div id="html_23b6dc8dba269c5417a7947e0b874c26" style="width: 100.0%; height: 100.0%;">JP Gold Apartment</div>`)[0];
                popup_00df29cebb93f877c57231c356cc1dc4.setContent(html_23b6dc8dba269c5417a7947e0b874c26);
            
        

        circle_marker_3a636ec36339a6040b3134ebb5ac4917.bindPopup(popup_00df29cebb93f877c57231c356cc1dc4)
        ;

        
    
    
            var circle_marker_67dbbb7f96590255ef32945add1fab7b = L.circleMarker(
                [13.057969783972723, 77.60668705382881],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_46c5642ac38a45bb57951746382092ba = L.popup({"maxWidth": "100%"});

        
            
                var html_a8b60ebb08733108f589093b9b1a4d4b = $(`<div id="html_a8b60ebb08733108f589093b9b1a4d4b" style="width: 100.0%; height: 100.0%;">Aashiyana Apartments</div>`)[0];
                popup_46c5642ac38a45bb57951746382092ba.setContent(html_a8b60ebb08733108f589093b9b1a4d4b);
            
        

        circle_marker_67dbbb7f96590255ef32945add1fab7b.bindPopup(popup_46c5642ac38a45bb57951746382092ba)
        ;

        
    
    
            var circle_marker_051e830a004c66c657c4a5f256b23e98 = L.circleMarker(
                [13.071340160392571, 77.56914777407638],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_c544503b5090df2e3f799c8491f2a373 = L.popup({"maxWidth": "100%"});

        
            
                var html_4757bf2e9ee66f5b962d18e15ebdc460 = $(`<div id="html_4757bf2e9ee66f5b962d18e15ebdc460" style="width: 100.0%; height: 100.0%;">Satya Greens Apartments</div>`)[0];
                popup_c544503b5090df2e3f799c8491f2a373.setContent(html_4757bf2e9ee66f5b962d18e15ebdc460);
            
        

        circle_marker_051e830a004c66c657c4a5f256b23e98.bindPopup(popup_c544503b5090df2e3f799c8491f2a373)
        ;

        
    
    
            var circle_marker_a0a41a60619648e618099c3ded2b9352 = L.circleMarker(
                [13.06539775182125, 77.57468926890239],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_db8fb846864ce3cd85b925150a2533b6 = L.popup({"maxWidth": "100%"});

        
            
                var html_82ce5be7aff75f640622e59b3db9bdeb = $(`<div id="html_82ce5be7aff75f640622e59b3db9bdeb" style="width: 100.0%; height: 100.0%;">sls silver oak apartments</div>`)[0];
                popup_db8fb846864ce3cd85b925150a2533b6.setContent(html_82ce5be7aff75f640622e59b3db9bdeb);
            
        

        circle_marker_a0a41a60619648e618099c3ded2b9352.bindPopup(popup_db8fb846864ce3cd85b925150a2533b6)
        ;

        
    
    
            var circle_marker_a04f7e3c29e8015b13f694930f07406a = L.circleMarker(
                [12.994719451019165, 77.58685133371019],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_6956ad41f9fa041e9dfa6286ec203e09 = L.popup({"maxWidth": "100%"});

        
            
                var html_4ad3cbc582e65d4e6b3e40929bd38cc7 = $(`<div id="html_4ad3cbc582e65d4e6b3e40929bd38cc7" style="width: 100.0%; height: 100.0%;">Embassy Habitat Apartment</div>`)[0];
                popup_6956ad41f9fa041e9dfa6286ec203e09.setContent(html_4ad3cbc582e65d4e6b3e40929bd38cc7);
            
        

        circle_marker_a04f7e3c29e8015b13f694930f07406a.bindPopup(popup_6956ad41f9fa041e9dfa6286ec203e09)
        ;

        
    
    
            var circle_marker_07d9f0486b0562bbb0ad7f6b105f1432 = L.circleMarker(
                [12.999668, 77.607176],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_75660cbd02df343354879f10f28f8c58 = L.popup({"maxWidth": "100%"});

        
            
                var html_8f8c2ad934496acbcb2587de764f9398 = $(`<div id="html_8f8c2ad934496acbcb2587de764f9398" style="width: 100.0%; height: 100.0%;">Prema Mandira Apartment</div>`)[0];
                popup_75660cbd02df343354879f10f28f8c58.setContent(html_8f8c2ad934496acbcb2587de764f9398);
            
        

        circle_marker_07d9f0486b0562bbb0ad7f6b105f1432.bindPopup(popup_75660cbd02df343354879f10f28f8c58)
        ;

        
    
    
            var circle_marker_006f29e93d7f6b612c506e335da8b2da = L.circleMarker(
                [13.0606994, 77.6015258],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_cd80b8f790148ef351e315bad77e568d = L.popup({"maxWidth": "100%"});

        
            
                var html_b1e0be9e7f43e8c122b7fe71171e9d38 = $(`<div id="html_b1e0be9e7f43e8c122b7fe71171e9d38" style="width: 100.0%; height: 100.0%;">Aditya Springs Apartments</div>`)[0];
                popup_cd80b8f790148ef351e315bad77e568d.setContent(html_b1e0be9e7f43e8c122b7fe71171e9d38);
            
        

        circle_marker_006f29e93d7f6b612c506e335da8b2da.bindPopup(popup_cd80b8f790148ef351e315bad77e568d)
        ;

        
    
    
            var circle_marker_e13e2ae8ee3e78b559daf4bf038db34c = L.circleMarker(
                [12.997299, 77.62226],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_41092b4bc0991a37c9f3cca4f778ec0c = L.popup({"maxWidth": "100%"});

        
            
                var html_50e42c52d7fecb3bf8358594857e528d = $(`<div id="html_50e42c52d7fecb3bf8358594857e528d" style="width: 100.0%; height: 100.0%;">P J Vinayaka Apartment</div>`)[0];
                popup_41092b4bc0991a37c9f3cca4f778ec0c.setContent(html_50e42c52d7fecb3bf8358594857e528d);
            
        

        circle_marker_e13e2ae8ee3e78b559daf4bf038db34c.bindPopup(popup_41092b4bc0991a37c9f3cca4f778ec0c)
        ;

        
    
    
            var circle_marker_89aca49d26fdc7435fcd5de4068d9ca1 = L.circleMarker(
                [12.987109, 77.617972],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_9421b6ea63b443d5cf95f2d16ea872f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_f23d8b44a852f8a3846c55ea7c94551e = $(`<div id="html_f23d8b44a852f8a3846c55ea7c94551e" style="width: 100.0%; height: 100.0%;">Aster Vue Service Apartment</div>`)[0];
                popup_9421b6ea63b443d5cf95f2d16ea872f0.setContent(html_f23d8b44a852f8a3846c55ea7c94551e);
            
        

        circle_marker_89aca49d26fdc7435fcd5de4068d9ca1.bindPopup(popup_9421b6ea63b443d5cf95f2d16ea872f0)
        ;

        
    
    
            var circle_marker_de4462d2cabe9dcec3647dd8a0603eb5 = L.circleMarker(
                [13.006493, 77.640762],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b96ead727c370ea51a7ee97a413373e7);
        
    
        var popup_029e32d4d7a8456ec1523919c95138aa = L.popup({"maxWidth": "100%"});

        
            
                var html_24601c54fbac5972bf44c52f8fa1a52b = $(`<div id="html_24601c54fbac5972bf44c52f8fa1a52b" style="width: 100.0%; height: 100.0%;">V Mills Service Apartment</div>`)[0];
                popup_029e32d4d7a8456ec1523919c95138aa.setContent(html_24601c54fbac5972bf44c52f8fa1a52b);
            
        

        circle_marker_de4462d2cabe9dcec3647dd8a0603eb5.bindPopup(popup_029e32d4d7a8456ec1523919c95138aa)
        ;

        
    
</script>
</html>