<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b041d9b2ce7041438d67673ca658166f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b041d9b2ce7041438d67673ca658166f" ></div>
        
</body>
<script>
    
    
            var map_b041d9b2ce7041438d67673ca658166f = L.map(
                "map_b041d9b2ce7041438d67673ca658166f",
                {
                    center: [13.13352, 77.567135],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_67b7ae4fde78e4d112fa8ce0242242c5 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_67b7ae4fde78e4d112fa8ce0242242c5.addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
            var circle_marker_bca994d1537e84808b20fa48a52b2263 = L.circleMarker(
                [13.000170430342969, 77.6245454591405],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_f839a9645a2164dcfc5630e26a2083aa = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_65adf77df1fdd59ff6fdc5c14b68fef6 = $(`<div id="html_65adf77df1fdd59ff6fdc5c14b68fef6" style="width: 100.0%; height: 100.0%;"><b>Apartment Banaswadi main road cross hight street RD.</b><br>Distance: 16.01 km</div>`)[0];
                popup_f839a9645a2164dcfc5630e26a2083aa.setContent(html_65adf77df1fdd59ff6fdc5c14b68fef6);
            
        

        circle_marker_bca994d1537e84808b20fa48a52b2263.bindPopup(popup_f839a9645a2164dcfc5630e26a2083aa)
        ;

        
    
    
            var circle_marker_d60eaf04c65291f831b9ad8eb80e58c0 = L.circleMarker(
                [13.039491797892286, 77.55558987238176],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_828e120e2eff4d34694017a2a7309023 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_492ad7a9747aed1a9503e8d39f710810 = $(`<div id="html_492ad7a9747aed1a9503e8d39f710810" style="width: 100.0%; height: 100.0%;"><b>Dwellington Apartment</b><br>Distance: 10.48 km</div>`)[0];
                popup_828e120e2eff4d34694017a2a7309023.setContent(html_492ad7a9747aed1a9503e8d39f710810);
            
        

        circle_marker_d60eaf04c65291f831b9ad8eb80e58c0.bindPopup(popup_828e120e2eff4d34694017a2a7309023)
        ;

        
    
    
            var circle_marker_a91218abad781ae24a7d056ad4866072 = L.circleMarker(
                [13.114882023314767, 77.56309032440184],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_ece1dd7874cdfd9bd791e09049c9197f = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_d9566c8d9b53bea71129f1c147cba121 = $(`<div id="html_d9566c8d9b53bea71129f1c147cba121" style="width: 100.0%; height: 100.0%;"><b>GK Lakeview Apartment</b><br>Distance: 2.11 km</div>`)[0];
                popup_ece1dd7874cdfd9bd791e09049c9197f.setContent(html_d9566c8d9b53bea71129f1c147cba121);
            
        

        circle_marker_a91218abad781ae24a7d056ad4866072.bindPopup(popup_ece1dd7874cdfd9bd791e09049c9197f)
        ;

        
    
    
            var circle_marker_4c152d9697d3592acdddf7b03caccd0e = L.circleMarker(
                [12.979005, 77.64562],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_4d6570bbc6801644d3b43c57d8c419ee = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_67d4d97927d217a7c4eff8c936347a0d = $(`<div id="html_67d4d97927d217a7c4eff8c936347a0d" style="width: 100.0%; height: 100.0%;"><b>1/747, Rented Apartment</b><br>Distance: 19.10 km</div>`)[0];
                popup_4d6570bbc6801644d3b43c57d8c419ee.setContent(html_67d4d97927d217a7c4eff8c936347a0d);
            
        

        circle_marker_4c152d9697d3592acdddf7b03caccd0e.bindPopup(popup_4d6570bbc6801644d3b43c57d8c419ee)
        ;

        
    
    
            var circle_marker_cb2ce36cb2d7791670e4a21d4b41112f = L.circleMarker(
                [13.13456280998398, 77.57264643045936],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_b5f0d2ab9db30a65fdd3d32561af6e0b = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_315caff20a7c858261d293ed06a71584 = $(`<div id="html_315caff20a7c858261d293ed06a71584" style="width: 100.0%; height: 100.0%;"><b>Shriram Suhaana Apartments</b><br>Distance: 0.61 km</div>`)[0];
                popup_b5f0d2ab9db30a65fdd3d32561af6e0b.setContent(html_315caff20a7c858261d293ed06a71584);
            
        

        circle_marker_cb2ce36cb2d7791670e4a21d4b41112f.bindPopup(popup_b5f0d2ab9db30a65fdd3d32561af6e0b)
        ;

        
    
    
            var circle_marker_1a77a5e5e920c1e62508c0a55cbca27a = L.circleMarker(
                [13.04005, 77.554501],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_d7a96a4af9796165b1ef514006e7069c = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_f0a4b9c7a0fe6ec18d6e61e4a18c500f = $(`<div id="html_f0a4b9c7a0fe6ec18d6e61e4a18c500f" style="width: 100.0%; height: 100.0%;"><b>H Block,Sadhana Apartment</b><br>Distance: 10.43 km</div>`)[0];
                popup_d7a96a4af9796165b1ef514006e7069c.setContent(html_f0a4b9c7a0fe6ec18d6e61e4a18c500f);
            
        

        circle_marker_1a77a5e5e920c1e62508c0a55cbca27a.bindPopup(popup_d7a96a4af9796165b1ef514006e7069c)
        ;

        
    
    
            var circle_marker_4558bf5df11a0d422b467f1487648f02 = L.circleMarker(
                [13.06925, 77.595719],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_7235554bc7eaa6dab5277ff5bbf2cc26 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_3ef827e842a083a5a26d8062452557b2 = $(`<div id="html_3ef827e842a083a5a26d8062452557b2" style="width: 100.0%; height: 100.0%;"><b>Shivaprakruthi Apartment</b><br>Distance: 7.76 km</div>`)[0];
                popup_7235554bc7eaa6dab5277ff5bbf2cc26.setContent(html_3ef827e842a083a5a26d8062452557b2);
            
        

        circle_marker_4558bf5df11a0d422b467f1487648f02.bindPopup(popup_7235554bc7eaa6dab5277ff5bbf2cc26)
        ;

        
    
    
            var circle_marker_4f4c32e01d8c4b88dd7cb7370aeb342b = L.circleMarker(
                [13.06480088033049, 77.5720979360512],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_53e8e3db72ce767834f72ae1c8691ae9 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_7e9e4b2c5cb96f6e3b68020e26e94f45 = $(`<div id="html_7e9e4b2c5cb96f6e3b68020e26e94f45" style="width: 100.0%; height: 100.0%;"><b>Shree Prakriti Apartment</b><br>Distance: 7.62 km</div>`)[0];
                popup_53e8e3db72ce767834f72ae1c8691ae9.setContent(html_7e9e4b2c5cb96f6e3b68020e26e94f45);
            
        

        circle_marker_4f4c32e01d8c4b88dd7cb7370aeb342b.bindPopup(popup_53e8e3db72ce767834f72ae1c8691ae9)
        ;

        
    
    
            var circle_marker_44e7b06741d51b52baaf99b5fda351f3 = L.circleMarker(
                [13.06330037472305, 77.58067488670349],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_595659d1ce2761e012b24fa684452ae0 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_703b1259611f7d85c90401400dae7804 = $(`<div id="html_703b1259611f7d85c90401400dae7804" style="width: 100.0%; height: 100.0%;"><b>Sri Sai Apartment</b><br>Distance: 7.91 km</div>`)[0];
                popup_595659d1ce2761e012b24fa684452ae0.setContent(html_703b1259611f7d85c90401400dae7804);
            
        

        circle_marker_44e7b06741d51b52baaf99b5fda351f3.bindPopup(popup_595659d1ce2761e012b24fa684452ae0)
        ;

        
    
    
            var circle_marker_b13ae51ab3d7c9c71d9671f069bf7eeb = L.circleMarker(
                [13.061164306991614, 77.56953452899677],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_d2ce5d0198e6820c81ebac3cb91c88f4 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_24811c5751a77dbede58ae2de848a479 = $(`<div id="html_24811c5751a77dbede58ae2de848a479" style="width: 100.0%; height: 100.0%;"><b>krishna Greens apartment</b><br>Distance: 8.01 km</div>`)[0];
                popup_d2ce5d0198e6820c81ebac3cb91c88f4.setContent(html_24811c5751a77dbede58ae2de848a479);
            
        

        circle_marker_b13ae51ab3d7c9c71d9671f069bf7eeb.bindPopup(popup_d2ce5d0198e6820c81ebac3cb91c88f4)
        ;

        
    
    
            var circle_marker_d4c0e5169430ad9d66176c6ae64e216f = L.circleMarker(
                [13.062396, 77.587263],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_94fa8effbd8f34d69459d4edbd16aae5 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_0ab69c26a14ed218bdde6c06bcf457e2 = $(`<div id="html_0ab69c26a14ed218bdde6c06bcf457e2" style="width: 100.0%; height: 100.0%;"><b>Stay Afford Serviced Apartment</b><br>Distance: 8.17 km</div>`)[0];
                popup_94fa8effbd8f34d69459d4edbd16aae5.setContent(html_0ab69c26a14ed218bdde6c06bcf457e2);
            
        

        circle_marker_d4c0e5169430ad9d66176c6ae64e216f.bindPopup(popup_94fa8effbd8f34d69459d4edbd16aae5)
        ;

        
    
    
            var circle_marker_53015c905ee18e7783fe575f6e35360b = L.circleMarker(
                [13.059434, 77.60579],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_aff46454c63876102c380413c6bea523 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_c7468bc55004902dedf55582b649c879 = $(`<div id="html_c7468bc55004902dedf55582b649c879" style="width: 100.0%; height: 100.0%;"><b>Manima Apartment</b><br>Distance: 9.21 km</div>`)[0];
                popup_aff46454c63876102c380413c6bea523.setContent(html_c7468bc55004902dedf55582b649c879);
            
        

        circle_marker_53015c905ee18e7783fe575f6e35360b.bindPopup(popup_aff46454c63876102c380413c6bea523)
        ;

        
    
    
            var circle_marker_0401f028d9fc1abc59fc0ced4ed4e662 = L.circleMarker(
                [13.064747134013956, 77.59126721374167],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_c47994b73606e786709bee94b8cfc775 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_df922c3d392d91914bb31cc808e76c95 = $(`<div id="html_df922c3d392d91914bb31cc808e76c95" style="width: 100.0%; height: 100.0%;"><b>Chitrakut Century Apartments</b><br>Distance: 8.05 km</div>`)[0];
                popup_c47994b73606e786709bee94b8cfc775.setContent(html_df922c3d392d91914bb31cc808e76c95);
            
        

        circle_marker_0401f028d9fc1abc59fc0ced4ed4e662.bindPopup(popup_c47994b73606e786709bee94b8cfc775)
        ;

        
    
    
            var circle_marker_0e4b3003375c46e558c99c98c05bc24e = L.circleMarker(
                [13.039570229610394, 77.55555230539213],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_85477073a11b070ca5cac4cbb7d19b92 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_a3f3a7d6886ad942092502d55d7ea2e9 = $(`<div id="html_a3f3a7d6886ad942092502d55d7ea2e9" style="width: 100.0%; height: 100.0%;"><b>Dwellington Apartment Swimming Pool</b><br>Distance: 10.47 km</div>`)[0];
                popup_85477073a11b070ca5cac4cbb7d19b92.setContent(html_a3f3a7d6886ad942092502d55d7ea2e9);
            
        

        circle_marker_0e4b3003375c46e558c99c98c05bc24e.bindPopup(popup_85477073a11b070ca5cac4cbb7d19b92)
        ;

        
    
    
            var circle_marker_6f1e39b9a92cd0256f83fde45c095652 = L.circleMarker(
                [13.039522, 77.555643],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_94231ffbd490ad4d04d716b72c97ca1a = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_1cf5514f5f3ce1e95abfdcac0910c42b = $(`<div id="html_1cf5514f5f3ce1e95abfdcac0910c42b" style="width: 100.0%; height: 100.0%;"><b>Dwellington Apartment Rooftop</b><br>Distance: 10.47 km</div>`)[0];
                popup_94231ffbd490ad4d04d716b72c97ca1a.setContent(html_1cf5514f5f3ce1e95abfdcac0910c42b);
            
        

        circle_marker_6f1e39b9a92cd0256f83fde45c095652.bindPopup(popup_94231ffbd490ad4d04d716b72c97ca1a)
        ;

        
    
    
            var circle_marker_625d01bdae36fdc76eb13c1a0e4b2043 = L.circleMarker(
                [13.06551306204412, 77.65039372266028],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_3f70caae4aba2ff8505c32b10872980a = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_0d5aa0d63eb95f4dd7918106284b3466 = $(`<div id="html_0d5aa0d63eb95f4dd7918106284b3466" style="width: 100.0%; height: 100.0%;"><b>ARGE Helios Apartment</b><br>Distance: 11.75 km</div>`)[0];
                popup_3f70caae4aba2ff8505c32b10872980a.setContent(html_0d5aa0d63eb95f4dd7918106284b3466);
            
        

        circle_marker_625d01bdae36fdc76eb13c1a0e4b2043.bindPopup(popup_3f70caae4aba2ff8505c32b10872980a)
        ;

        
    
    
            var circle_marker_839af337b21657229c9d5c0704fff940 = L.circleMarker(
                [13.036045, 77.581354],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_95811d3d8dccfce8ebdb04f60c3153c7 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_c346aa2b646a5b24f804872b16374310 = $(`<div id="html_c346aa2b646a5b24f804872b16374310" style="width: 100.0%; height: 100.0%;"><b>Green Apartment</b><br>Distance: 10.89 km</div>`)[0];
                popup_95811d3d8dccfce8ebdb04f60c3153c7.setContent(html_c346aa2b646a5b24f804872b16374310);
            
        

        circle_marker_839af337b21657229c9d5c0704fff940.bindPopup(popup_95811d3d8dccfce8ebdb04f60c3153c7)
        ;

        
    
    
            var circle_marker_26045a3c76f21bc2f2499808f8d115e9 = L.circleMarker(
                [13.034047492665726, 77.59603852025482],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_9788003f61e6d236820ff8355a0ec423 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_9d003d86c1d0b2f09c5cfcdc6ff77bb0 = $(`<div id="html_9d003d86c1d0b2f09c5cfcdc6ff77bb0" style="width: 100.0%; height: 100.0%;"><b>Creative Classic Apartment</b><br>Distance: 11.44 km</div>`)[0];
                popup_9788003f61e6d236820ff8355a0ec423.setContent(html_9d003d86c1d0b2f09c5cfcdc6ff77bb0);
            
        

        circle_marker_26045a3c76f21bc2f2499808f8d115e9.bindPopup(popup_9788003f61e6d236820ff8355a0ec423)
        ;

        
    
    
            var circle_marker_625efdf9e875747cd9593a5424e97981 = L.circleMarker(
                [13.040211, 77.554801],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_fe52ec83f9ea2342c886ff4668125943 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_a5a291835584c84b1efcd612a7e75b2f = $(`<div id="html_a5a291835584c84b1efcd612a7e75b2f" style="width: 100.0%; height: 100.0%;"><b>J Block, Shriram Sadhana Apartment</b><br>Distance: 10.41 km</div>`)[0];
                popup_fe52ec83f9ea2342c886ff4668125943.setContent(html_a5a291835584c84b1efcd612a7e75b2f);
            
        

        circle_marker_625efdf9e875747cd9593a5424e97981.bindPopup(popup_fe52ec83f9ea2342c886ff4668125943)
        ;

        
    
    
            var circle_marker_3e659eca949c8fa247f4ffad87c7c230 = L.circleMarker(
                [13.030246, 77.64331],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_bb53c94982e7e66dbe21cfbb376f8266 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_5ac73b1feb73afa0ef40ed4a08ac51fb = $(`<div id="html_5ac73b1feb73afa0ef40ed4a08ac51fb" style="width: 100.0%; height: 100.0%;"><b>Sahasra Grand Apartment</b><br>Distance: 14.10 km</div>`)[0];
                popup_bb53c94982e7e66dbe21cfbb376f8266.setContent(html_5ac73b1feb73afa0ef40ed4a08ac51fb);
            
        

        circle_marker_3e659eca949c8fa247f4ffad87c7c230.bindPopup(popup_bb53c94982e7e66dbe21cfbb376f8266)
        ;

        
    
    
            var circle_marker_c4f3a252ab808d01edc884821e5c24c1 = L.circleMarker(
                [12.997086567385685, 77.53471272929279],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_3c7366682daaee129ab45acc0da6530e = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_6f6feeb65821df181ce17204584caed4 = $(`<div id="html_6f6feeb65821df181ce17204584caed4" style="width: 100.0%; height: 100.0%;"><b>Navami Apartment</b><br>Distance: 15.50 km</div>`)[0];
                popup_3c7366682daaee129ab45acc0da6530e.setContent(html_6f6feeb65821df181ce17204584caed4);
            
        

        circle_marker_c4f3a252ab808d01edc884821e5c24c1.bindPopup(popup_3c7366682daaee129ab45acc0da6530e)
        ;

        
    
    
            var circle_marker_2ebdd3183ff2f466c2f70f40bc4105bd = L.circleMarker(
                [13.029926070972964, 77.59263667696135],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_b0f8bde756247775a571cb6ba636b864 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_4a6512d8c5ccd16b4e4c40d5b631aba8 = $(`<div id="html_4a6512d8c5ccd16b4e4c40d5b631aba8" style="width: 100.0%; height: 100.0%;"><b>The Kaiser Serviced Apartment Hotel</b><br>Distance: 11.79 km</div>`)[0];
                popup_b0f8bde756247775a571cb6ba636b864.setContent(html_4a6512d8c5ccd16b4e4c40d5b631aba8);
            
        

        circle_marker_2ebdd3183ff2f466c2f70f40bc4105bd.bindPopup(popup_b0f8bde756247775a571cb6ba636b864)
        ;

        
    
    
            var circle_marker_b9d1f10d79636d45ba6fee0bd2f14f29 = L.circleMarker(
                [13.010092, 77.577198],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_d1f2425ec14804567816f521be84a912 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_765b8a62adff0be1c4f8f1007c45ec22 = $(`<div id="html_765b8a62adff0be1c4f8f1007c45ec22" style="width: 100.0%; height: 100.0%;"><b>Lavina Courts Apartment</b><br>Distance: 13.70 km</div>`)[0];
                popup_d1f2425ec14804567816f521be84a912.setContent(html_765b8a62adff0be1c4f8f1007c45ec22);
            
        

        circle_marker_b9d1f10d79636d45ba6fee0bd2f14f29.bindPopup(popup_d1f2425ec14804567816f521be84a912)
        ;

        
    
    
            var circle_marker_8cb8b99fb138449ca7c6f904fe6ba889 = L.circleMarker(
                [13.046933061340559, 77.63541464862233],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_c038416cd03a7f8a95ae7c687d0ebed2 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_c4241e88677f212742e71d04e5a9f650 = $(`<div id="html_c4241e88677f212742e71d04e5a9f650" style="width: 100.0%; height: 100.0%;"><b>vm meridian apartment</b><br>Distance: 12.11 km</div>`)[0];
                popup_c038416cd03a7f8a95ae7c687d0ebed2.setContent(html_c4241e88677f212742e71d04e5a9f650);
            
        

        circle_marker_8cb8b99fb138449ca7c6f904fe6ba889.bindPopup(popup_c038416cd03a7f8a95ae7c687d0ebed2)
        ;

        
    
    
            var circle_marker_1c40331cfc3280a860fc4e6100f9bf94 = L.circleMarker(
                [13.028436685591299, 77.65197068452835],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_763f56d1054e3b0785810dc2297ffb05 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_c7b50c3f25c6cea8a4c597b499440afd = $(`<div id="html_c7b50c3f25c6cea8a4c597b499440afd" style="width: 100.0%; height: 100.0%;"><b>Ambica Nivas Apartments</b><br>Distance: 14.83 km</div>`)[0];
                popup_763f56d1054e3b0785810dc2297ffb05.setContent(html_c7b50c3f25c6cea8a4c597b499440afd);
            
        

        circle_marker_1c40331cfc3280a860fc4e6100f9bf94.bindPopup(popup_763f56d1054e3b0785810dc2297ffb05)
        ;

        
    
    
            var circle_marker_67ccec101a264f0dbabea04140ef6134 = L.circleMarker(
                [13.022323, 77.603381],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_e5c1b8ae0e4b50b2e7981ae01de043bf = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_45d18ad10de5dbbca3917c67969fb70c = $(`<div id="html_45d18ad10de5dbbca3917c67969fb70c" style="width: 100.0%; height: 100.0%;"><b>Southern Residency Apartment</b><br>Distance: 12.91 km</div>`)[0];
                popup_e5c1b8ae0e4b50b2e7981ae01de043bf.setContent(html_45d18ad10de5dbbca3917c67969fb70c);
            
        

        circle_marker_67ccec101a264f0dbabea04140ef6134.bindPopup(popup_e5c1b8ae0e4b50b2e7981ae01de043bf)
        ;

        
    
    
            var circle_marker_d7055be5e58ee279e10c5888c449a72a = L.circleMarker(
                [13.03947021158443, 77.55673171336488],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_8f45ea349a3b67c54e7e8d5322f15251 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_964560644bf1c9bd8196048602292657 = $(`<div id="html_964560644bf1c9bd8196048602292657" style="width: 100.0%; height: 100.0%;"><b>Divya MSR Gateway Apartment</b><br>Distance: 10.47 km</div>`)[0];
                popup_8f45ea349a3b67c54e7e8d5322f15251.setContent(html_964560644bf1c9bd8196048602292657);
            
        

        circle_marker_d7055be5e58ee279e10c5888c449a72a.bindPopup(popup_8f45ea349a3b67c54e7e8d5322f15251)
        ;

        
    
    
            var circle_marker_d99db44e1bbdbae6ec7ce28cce225ba5 = L.circleMarker(
                [13.028172, 77.64132],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_aa466e06eda69a5ccc948aee8cebaee8 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_b6235a53d83d0df0cb63fbcafef74633 = $(`<div id="html_b6235a53d83d0df0cb63fbcafef74633" style="width: 100.0%; height: 100.0%;"><b>Avyak Fortune Apartment Chellikere</b><br>Distance: 14.16 km</div>`)[0];
                popup_aa466e06eda69a5ccc948aee8cebaee8.setContent(html_b6235a53d83d0df0cb63fbcafef74633);
            
        

        circle_marker_d99db44e1bbdbae6ec7ce28cce225ba5.bindPopup(popup_aa466e06eda69a5ccc948aee8cebaee8)
        ;

        
    
    
            var circle_marker_f17e595510f327a07c32a719338aadd9 = L.circleMarker(
                [13.019332, 77.59707],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_921e64279dd757676d3fec0d53a8b53b = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_3aed4b5b437a66e5f38a0ac9021abeb9 = $(`<div id="html_3aed4b5b437a66e5f38a0ac9021abeb9" style="width: 100.0%; height: 100.0%;"><b>Krishna Legacy Apartment</b><br>Distance: 13.04 km</div>`)[0];
                popup_921e64279dd757676d3fec0d53a8b53b.setContent(html_3aed4b5b437a66e5f38a0ac9021abeb9);
            
        

        circle_marker_f17e595510f327a07c32a719338aadd9.bindPopup(popup_921e64279dd757676d3fec0d53a8b53b)
        ;

        
    
    
            var circle_marker_bba77a413a6722768b1180c33bdcabab = L.circleMarker(
                [13.0606994, 77.6015258],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_05936d3a03ea12684b853b7d313a0526 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_9c5b6a58570d501c4dde8b7752d47943 = $(`<div id="html_9c5b6a58570d501c4dde8b7752d47943" style="width: 100.0%; height: 100.0%;"><b>Aditya Springs Apartments</b><br>Distance: 8.88 km</div>`)[0];
                popup_05936d3a03ea12684b853b7d313a0526.setContent(html_9c5b6a58570d501c4dde8b7752d47943);
            
        

        circle_marker_bba77a413a6722768b1180c33bdcabab.bindPopup(popup_05936d3a03ea12684b853b7d313a0526)
        ;

        
    
    
            var circle_marker_7d1f8b4ec4ea41629ea14ccfefcbdda7 = L.circleMarker(
                [13.088500272124577, 77.58710221733564],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_0542b377f0aad8d43b948b32f1e2eb0e = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_72283546879218750a50a2815208785c = $(`<div id="html_72283546879218750a50a2815208785c" style="width: 100.0%; height: 100.0%;"><b>Janapriya Heavens Apartments</b><br>Distance: 5.43 km</div>`)[0];
                popup_0542b377f0aad8d43b948b32f1e2eb0e.setContent(html_72283546879218750a50a2815208785c);
            
        

        circle_marker_7d1f8b4ec4ea41629ea14ccfefcbdda7.bindPopup(popup_0542b377f0aad8d43b948b32f1e2eb0e)
        ;

        
    
    
            var circle_marker_24940dd46f7899a131c2251dfa5919c9 = L.circleMarker(
                [13.014054717865344, 77.53829598426819],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_0f19108b566703bb13a04a8f30249b4b = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_8e91b6f56aac705056d53e6e1bb96b50 = $(`<div id="html_8e91b6f56aac705056d53e6e1bb96b50" style="width: 100.0%; height: 100.0%;"><b>MCC Apartment</b><br>Distance: 13.58 km</div>`)[0];
                popup_0f19108b566703bb13a04a8f30249b4b.setContent(html_8e91b6f56aac705056d53e6e1bb96b50);
            
        

        circle_marker_24940dd46f7899a131c2251dfa5919c9.bindPopup(popup_0f19108b566703bb13a04a8f30249b4b)
        ;

        
    
    
            var circle_marker_1628039e7b5d811ca632dbc960bf5467 = L.circleMarker(
                [12.994719451019165, 77.58685133371019],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_e79bc955001621e6fccf758f6e1162d8 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_45912903c38e56180e2e6b641e961f4e = $(`<div id="html_45912903c38e56180e2e6b641e961f4e" style="width: 100.0%; height: 100.0%;"><b>Embassy Habitat Apartment</b><br>Distance: 15.50 km</div>`)[0];
                popup_e79bc955001621e6fccf758f6e1162d8.setContent(html_45912903c38e56180e2e6b641e961f4e);
            
        

        circle_marker_1628039e7b5d811ca632dbc960bf5467.bindPopup(popup_e79bc955001621e6fccf758f6e1162d8)
        ;

        
    
    
            var circle_marker_c7504901bcd2fdca01bb2472c3ed2930 = L.circleMarker(
                [13.028825, 77.651995],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_369fa65f55f811433d7f5d7480958977 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_9fd7f245cd38b44388cc460f2d0f9c11 = $(`<div id="html_9fd7f245cd38b44388cc460f2d0f9c11" style="width: 100.0%; height: 100.0%;"><b>Ambica Nivas Apartment</b><br>Distance: 14.79 km</div>`)[0];
                popup_369fa65f55f811433d7f5d7480958977.setContent(html_9fd7f245cd38b44388cc460f2d0f9c11);
            
        

        circle_marker_c7504901bcd2fdca01bb2472c3ed2930.bindPopup(popup_369fa65f55f811433d7f5d7480958977)
        ;

        
    
    
            var circle_marker_0a621150e9ec7a56fff74df96d75775d = L.circleMarker(
                [13.027832, 77.633713],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_4a65d801ee9129d97e4e7f44cb26b28d = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_e9e0a815ac10bcb8e975f94c6fb17a89 = $(`<div id="html_e9e0a815ac10bcb8e975f94c6fb17a89" style="width: 100.0%; height: 100.0%;"><b>Royal Suites Apartment</b><br>Distance: 13.74 km</div>`)[0];
                popup_4a65d801ee9129d97e4e7f44cb26b28d.setContent(html_e9e0a815ac10bcb8e975f94c6fb17a89);
            
        

        circle_marker_0a621150e9ec7a56fff74df96d75775d.bindPopup(popup_4a65d801ee9129d97e4e7f44cb26b28d)
        ;

        
    
    
            var circle_marker_f448983cb159e46f5d56d4f0d5627627 = L.circleMarker(
                [13.00848, 77.562412],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_85ac26d728de0517ff65799f0a5e52c7 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_fd76f0f336f974479bfd971c1bbf846b = $(`<div id="html_fd76f0f336f974479bfd971c1bbf846b" style="width: 100.0%; height: 100.0%;"><b>KT23 Apartment</b><br>Distance: 13.84 km</div>`)[0];
                popup_85ac26d728de0517ff65799f0a5e52c7.setContent(html_fd76f0f336f974479bfd971c1bbf846b);
            
        

        circle_marker_f448983cb159e46f5d56d4f0d5627627.bindPopup(popup_85ac26d728de0517ff65799f0a5e52c7)
        ;

        
    
    
            var circle_marker_a92497e1704eeb02724428efacd2eee1 = L.circleMarker(
                [13.066257, 77.57794],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_69a7eb49adb3244271cdc8b90d41fbb6 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_c04494de31d174855b1f0cdf516ef7d8 = $(`<div id="html_c04494de31d174855b1f0cdf516ef7d8" style="width: 100.0%; height: 100.0%;"><b>Arya Krishna Apartments</b><br>Distance: 7.53 km</div>`)[0];
                popup_69a7eb49adb3244271cdc8b90d41fbb6.setContent(html_c04494de31d174855b1f0cdf516ef7d8);
            
        

        circle_marker_a92497e1704eeb02724428efacd2eee1.bindPopup(popup_69a7eb49adb3244271cdc8b90d41fbb6)
        ;

        
    
    
            var circle_marker_cfa44320dcd54baf2db8e3f407c3cbb9 = L.circleMarker(
                [13.007421, 77.577103],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_11733823dcb9c928b6d5941b9b0a7299 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_ccccffe657d41240d7ce9452df907484 = $(`<div id="html_ccccffe657d41240d7ce9452df907484" style="width: 100.0%; height: 100.0%;"><b>Tatva Service Apartment</b><br>Distance: 13.99 km</div>`)[0];
                popup_11733823dcb9c928b6d5941b9b0a7299.setContent(html_ccccffe657d41240d7ce9452df907484);
            
        

        circle_marker_cfa44320dcd54baf2db8e3f407c3cbb9.bindPopup(popup_11733823dcb9c928b6d5941b9b0a7299)
        ;

        
    
    
            var circle_marker_a97f0caf955d7b979182709e06deaf81 = L.circleMarker(
                [13.038358, 77.65272],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_f308647e3f1fb42a8a18d2485840d7d1 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_1d37b263e26b90b61fe87d20027a4999 = $(`<div id="html_1d37b263e26b90b61fe87d20027a4999" style="width: 100.0%; height: 100.0%;"><b>Jai Bharathi Mansion Apartment</b><br>Distance: 14.04 km</div>`)[0];
                popup_f308647e3f1fb42a8a18d2485840d7d1.setContent(html_1d37b263e26b90b61fe87d20027a4999);
            
        

        circle_marker_a97f0caf955d7b979182709e06deaf81.bindPopup(popup_f308647e3f1fb42a8a18d2485840d7d1)
        ;

        
    
    
            var circle_marker_9f1cb660d80412fbd984d662d4b00ae8 = L.circleMarker(
                [13.007784, 77.554855],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_4fd5b46ad6847e5142032fbff5d1d0e0 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_289a81f5b45db52b6ab1a1416717c47c = $(`<div id="html_289a81f5b45db52b6ab1a1416717c47c" style="width: 100.0%; height: 100.0%;"><b>The Chalet Corporate Apartment</b><br>Distance: 13.97 km</div>`)[0];
                popup_4fd5b46ad6847e5142032fbff5d1d0e0.setContent(html_289a81f5b45db52b6ab1a1416717c47c);
            
        

        circle_marker_9f1cb660d80412fbd984d662d4b00ae8.bindPopup(popup_4fd5b46ad6847e5142032fbff5d1d0e0)
        ;

        
    
    
            var circle_marker_94786fa6468ef66152db910bf9e61ffb = L.circleMarker(
                [13.00517729269146, 77.5631425495395],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_07dd567fd04ed6462b19d2fcbda17c83 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_5a547d89a237efa299e974f0c1e6a158 = $(`<div id="html_5a547d89a237efa299e974f0c1e6a158" style="width: 100.0%; height: 100.0%;"><b>Surya Nest Apartment</b><br>Distance: 14.21 km</div>`)[0];
                popup_07dd567fd04ed6462b19d2fcbda17c83.setContent(html_5a547d89a237efa299e974f0c1e6a158);
            
        

        circle_marker_94786fa6468ef66152db910bf9e61ffb.bindPopup(popup_07dd567fd04ed6462b19d2fcbda17c83)
        ;

        
    
    
            var circle_marker_9ec44811c01f9531b3c44b6b605dcfe4 = L.circleMarker(
                [13.000635, 77.61793],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_b004716654cb6caf6d83cba5c4f5486d = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_a5bacf21b9bbaefadc4deba45c88b5a3 = $(`<div id="html_a5bacf21b9bbaefadc4deba45c88b5a3" style="width: 100.0%; height: 100.0%;"><b>AM Suites and Services Apartment</b><br>Distance: 15.70 km</div>`)[0];
                popup_b004716654cb6caf6d83cba5c4f5486d.setContent(html_a5bacf21b9bbaefadc4deba45c88b5a3);
            
        

        circle_marker_9ec44811c01f9531b3c44b6b605dcfe4.bindPopup(popup_b004716654cb6caf6d83cba5c4f5486d)
        ;

        
    
    
            var circle_marker_dca4e030adf46079e6149a23f8d95f28 = L.circleMarker(
                [13.022482, 77.640974],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_934124e343946ecc0b4c36011d614143 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_5591c626f77bb5b31bc40b6101e62d10 = $(`<div id="html_5591c626f77bb5b31bc40b6101e62d10" style="width: 100.0%; height: 100.0%;"><b>Roseline Apartment</b><br>Distance: 14.66 km</div>`)[0];
                popup_934124e343946ecc0b4c36011d614143.setContent(html_5591c626f77bb5b31bc40b6101e62d10);
            
        

        circle_marker_dca4e030adf46079e6149a23f8d95f28.bindPopup(popup_934124e343946ecc0b4c36011d614143)
        ;

        
    
    
            var circle_marker_d4a9267008a512d3923fd914dc70433c = L.circleMarker(
                [13.028165, 77.6495],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_f650afd31744ecce667f9008e46ce16f = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_ab7cf13c31136a93821b09f2d902b5f9 = $(`<div id="html_ab7cf13c31136a93821b09f2d902b5f9" style="width: 100.0%; height: 100.0%;"><b>DS Max Keerthi Apartment</b><br>Distance: 14.68 km</div>`)[0];
                popup_f650afd31744ecce667f9008e46ce16f.setContent(html_ab7cf13c31136a93821b09f2d902b5f9);
            
        

        circle_marker_d4a9267008a512d3923fd914dc70433c.bindPopup(popup_f650afd31744ecce667f9008e46ce16f)
        ;

        
    
    
            var circle_marker_246c7f077ab141f6cef3c4d8c0f126ae = L.circleMarker(
                [13.018242, 77.631315],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_46fa39f9fe94120d3c4946981773d08a = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_3ec13933b005f996fda9cb5d88b32937 = $(`<div id="html_3ec13933b005f996fda9cb5d88b32937" style="width: 100.0%; height: 100.0%;"><b>JP Gold Apartment</b><br>Distance: 14.53 km</div>`)[0];
                popup_46fa39f9fe94120d3c4946981773d08a.setContent(html_3ec13933b005f996fda9cb5d88b32937);
            
        

        circle_marker_246c7f077ab141f6cef3c4d8c0f126ae.bindPopup(popup_46fa39f9fe94120d3c4946981773d08a)
        ;

        
    
    
            var circle_marker_5140454fda68a417b8a830cd2ddf936d = L.circleMarker(
                [13.057303120216286, 77.58801998267853],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_f627c7a65aea3e55e6dcf66138bd7830 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_02d9dfe17836da3b2de496f8bef376f8 = $(`<div id="html_02d9dfe17836da3b2de496f8bef376f8" style="width: 100.0%; height: 100.0%;"><b>Sterling Park Apartments</b><br>Distance: 8.73 km</div>`)[0];
                popup_f627c7a65aea3e55e6dcf66138bd7830.setContent(html_02d9dfe17836da3b2de496f8bef376f8);
            
        

        circle_marker_5140454fda68a417b8a830cd2ddf936d.bindPopup(popup_f627c7a65aea3e55e6dcf66138bd7830)
        ;

        
    
    
            var circle_marker_66e6e77934f7c4fb6b10dad444da1538 = L.circleMarker(
                [12.999668, 77.607176],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_d7deee5680afcbff6eb8ccc614cc9241 = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_cc3bfd4ac8381d64afb30acc02018502 = $(`<div id="html_cc3bfd4ac8381d64afb30acc02018502" style="width: 100.0%; height: 100.0%;"><b>Prema Mandira Apartment</b><br>Distance: 15.43 km</div>`)[0];
                popup_d7deee5680afcbff6eb8ccc614cc9241.setContent(html_cc3bfd4ac8381d64afb30acc02018502);
            
        

        circle_marker_66e6e77934f7c4fb6b10dad444da1538.bindPopup(popup_d7deee5680afcbff6eb8ccc614cc9241)
        ;

        
    
    
            var circle_marker_44df1f02fc1fe81810b9a33719bc3930 = L.circleMarker(
                [12.987109, 77.617972],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_8c987ad8f43cb5f135cf04898028ea9c = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_587578f16c76826b5b1875faa262ba70 = $(`<div id="html_587578f16c76826b5b1875faa262ba70" style="width: 100.0%; height: 100.0%;"><b>Aster Vue Service Apartment</b><br>Distance: 17.11 km</div>`)[0];
                popup_8c987ad8f43cb5f135cf04898028ea9c.setContent(html_587578f16c76826b5b1875faa262ba70);
            
        

        circle_marker_44df1f02fc1fe81810b9a33719bc3930.bindPopup(popup_8c987ad8f43cb5f135cf04898028ea9c)
        ;

        
    
    
            var circle_marker_17b2584f67d3c91b0b41f90d26ce686c = L.circleMarker(
                [13.057969783972723, 77.60668705382881],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_27167c1f66da4656bbaf73151876611b = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_290a016adad1874278c5dd2e8be9c458 = $(`<div id="html_290a016adad1874278c5dd2e8be9c458" style="width: 100.0%; height: 100.0%;"><b>Aashiyana Apartments</b><br>Distance: 9.39 km</div>`)[0];
                popup_27167c1f66da4656bbaf73151876611b.setContent(html_290a016adad1874278c5dd2e8be9c458);
            
        

        circle_marker_17b2584f67d3c91b0b41f90d26ce686c.bindPopup(popup_27167c1f66da4656bbaf73151876611b)
        ;

        
    
    
            var circle_marker_21585da404cf54333426232f49177521 = L.circleMarker(
                [13.06539775182125, 77.57468926890239],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
        var popup_26313635f143f5ba6190ce72e3b9982b = L.popup({"maxWidth": 200, "minWidth": 150});

        
            
                var html_b91c38c2c5ea8b141980cb06f10f74d3 = $(`<div id="html_b91c38c2c5ea8b141980cb06f10f74d3" style="width: 100.0%; height: 100.0%;"><b>sls silver oak apartments</b><br>Distance: 7.58 km</div>`)[0];
                popup_26313635f143f5ba6190ce72e3b9982b.setContent(html_b91c38c2c5ea8b141980cb06f10f74d3);
            
        

        circle_marker_21585da404cf54333426232f49177521.bindPopup(popup_26313635f143f5ba6190ce72e3b9982b)
        ;

        
    
    
            var marker_ec3d8a9bd9d4b174b88fe43fa6f22d8e = L.marker(
                [13.13352, 77.567135],
                {}
            ).addTo(map_b041d9b2ce7041438d67673ca658166f);
        
    
            var icon_da20c86038190f52a5612946fc3c1f53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ec3d8a9bd9d4b174b88fe43fa6f22d8e.setIcon(icon_da20c86038190f52a5612946fc3c1f53);
        
    
        var popup_7c120bbc9251d01524cb9a97ca2eea4d = L.popup({"maxWidth": "100%"});

        
            
                var html_d715e1d42e5975e2886d5bfe200c2b61 = $(`<div id="html_d715e1d42e5975e2886d5bfe200c2b61" style="width: 100.0%; height: 100.0%;">My Location</div>`)[0];
                popup_7c120bbc9251d01524cb9a97ca2eea4d.setContent(html_d715e1d42e5975e2886d5bfe200c2b61);
            
        

        marker_ec3d8a9bd9d4b174b88fe43fa6f22d8e.bindPopup(popup_7c120bbc9251d01524cb9a97ca2eea4d)
        ;

        
    
</script>
</html>